/* footer.css */
footer {
  background-color: #202020;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.footermain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footerbottom {
  display: flex;
  gap: 1rem;
}

footer a {
  text-decoration: none;
  color: white;
}
